<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <h1>Contact Us!</h1>

    <p>You contacted <%= data.who %> in the <%= data.department %> department.</p>
  </body>
</html>
