<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <h1>Contact Us!</h1>

    <form class="contact-form" method="POST" action="/contact">
      <label for="who">Who do you want to contact?</label>
      <input type="text" name="who" value="<%= qs.person %>">
      <label for="department">Which department?</label>
      <input type="text" name="department" value="<%= qs.dept %>">
      <label for="email">Your email</label>
      <input type="email" name="email" value="">
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
