<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <h1>Welcome to the most awesome website on the net</h1>
    <p>You won't find another one better than this</p>
  </body>
</html>
